[Unit]
Description=Activate 4G Modem PDP Context
Wants=network-online.target dev-modem_at.device
After=network-online.target dev-modem_at.device

[Service]
Type=oneshot
# run the activator in repo root and force full activation at boot
ExecStart=/home/pi/raspi-4g-autoconnect/activate_4g.sh --up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target